#reference {
  min-height: 800px;
  float: right;
  width: 280px;
}
.footer {
  clear: both;
}
.ref {
  display: inline;
  font-size: 90%;
  padding: 1px 3px;
  background-color: #bbb;
  color: #333;
  border-radius: 4px;
  font-weight: bold;
}
.card_thumbnail {
  display: inline-block;
  padding: 0 10px 10px 0;
}
.card {
  font-size: 75%;
  max-width: 280px;
  background-color: #eee;
  font-family: Sans-Serif;
  color: #333;
  padding: 5px 0;
  border-radius: 6px;
}
.card img {
  width: 280px;
  height: 150px;
}
.card #card_overlay {
  position: relative;
  top: -172px;
  margin-bottom: -160px;
}
.card h1 {
  text-transform: capitalize;
  font-size: 100%;
  display: block;
  width: 270px;
  color: #aaa;
  padding: 5px;
  margin: 15px 0 5px;
  border-top: 1px dashed #aaa;
}
.card h2 {
  color: #666;
  display: inline-block;
  font-size: 100%;
  text-transform: capitalize;
  text-align: center;
  width: 260px;
  margin: 5px;
}
.card blockquote {
  font-size: 85%;
  display: block;
  width: 270px;
  text-align: right;
  font-family: Serif;
  font-style: italic;
  color: #333;
  padding: 3px 5px;
}
.card ul {
  display: inline-block;
}
.card li {
  font-size: 80%;
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px 2px;
  margin: 0 3px 0 3px;
  background-color: #fff;
  color: #666;
  border: 1px solid #888;
  border-radius: 4px;
}
.card p {
  font-size: 95%;
  padding: 5px 10px;
  line-height: 125%;
  text-align: justify;
}
